/* 
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Lobster&display=swap');

.Sidebar{
background-color: #7286D3;
}
.covid{
font-family: 'Lobster', cursive;

} */

/* .countriesCss{
  position: relative;
  margin-left: 25%;
} */